.hero-header-section {
  background-color: #14171c;
}

.hero-wrapper {
  position: relative;
}

.hero-thumbs {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 190px;
  z-index: 4;
}

.hero-image-wrap {
  margin-left: 210px;
  position: relative;
}

.hero-image-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.001) 2%,
    hsla(0, 0%, 0%, 0.005) 6%,
    hsla(0, 0%, 0%, 0.013) 11%,
    hsla(0, 0%, 0%, 0.032) 17%,
    hsla(0, 0%, 0%, 0.062) 24%,
    hsla(0, 0%, 0%, 0.132) 32%,
    hsla(0, 0%, 0%, 0.191) 40%,
    hsla(0, 0%, 0%, 0.281) 49%,
    hsla(0, 0%, 0%, 0.381) 58%,
    hsla(0, 0%, 0%, 0.54) 71%,
    hsla(0, 0%, 0%, 0.74) 86%,
    hsl(0, 0%, 0%) 100%
  );
}

.hero-thumbs .thumbs-swiper {
  height: 350px;
}

.hero-thumbs .thumb-image {
  width: 190px;
  height: 110px;
  object-fit: cover;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.blue-strip {
  position: relative;
  background-color: #264f7d;
  z-index: 1;
  padding: 3.5rem 3rem;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.card-overlap {
  position: relative;
  margin-left: 1.5rem;
  margin-top: -240px;
  background-color: #14171c;
  width: 360px;
  min-height: 300px;
  z-index: 12;
}

.card-overlap h1 {
  font-weight: 700;
  color: #f8f9fa;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.2rem;
}

.hero-header-section .movie-info-mobile {
  display: none !important;
}

@media (max-width: 767.98px) {
  .hero-image-wrap {
    margin-left: 0;
  }

  .card-overlap {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    min-height: auto;
    padding: 1.25rem;
  }

  .card-overlap h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
