.admin-dashboard #wrapper {
  display: flex;
}

.admin-dashboard #content-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.admin-dashboard #content {
  flex: 1 0 auto;
}

.admin-dashboard .scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: rgba(90, 92, 105, 0.5);
  line-height: 46px;
}

.admin-dashboard .scroll-to-top:focus,
.admin-dashboard .scroll-to-top:hover {
  color: white;
}

.admin-dashboard .scroll-to-top:hover {
  background: #5a5c69;
}

.admin-dashboard .scroll-to-top i {
  font-weight: 800;
}
